# ========================
# App
# ========================
EMAIL_HOST=example@gmail.com
TOKEN_SECRET_KEY=secret_key

# ========================
# Back
# ========================
BACK_PORT=8000

# ========================
# Front
# ========================
FRONT_PORT=3000
VITE_API_URL=http://back:8000

# ========================
# DB
# ========================
DB_HOST=db
DB_PORT=5432
DB_NAME=project_db
DB_USER=project_user
DB_PWD=changeme
