# ========================
# 공통
# ========================
.env
*.log

# ========================
# back
# ========================
back/__pycache__/
back/**/__pycache__/
back/**/*.pyc

# ========================
# front
# ========================
front/node_modules/
front/dist/

# ========================
# db
# ========================
# db/data_directory/
# db/backup/
